* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--main-black);
}

:root {
  --website-orange: rgba(255, 206, 34, 1);
  --main-black: rgba(31, 33, 40, 1);
  --main-gray: rgba(205, 205, 205, 1);
  --blue-press: rgba(80, 135, 248, 1);
  --button-gray: rgba(135, 135, 135, 1);
}

body {
  display: flex;
  justify-content: center;
  padding: 85px 0;
}

.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  background-color: white;
  box-shadow: 0 8px 15px 0 rgba(20, 20, 20, 0.12),
    0 0 4px 0 rgba(20, 20, 20, 0.1);
}

hr {
  border: none;
  height: 0.7px;
  background-color: var(--main-gray);
  margin: 10px 15px;
}

button.done-btn {
  width: 340px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--website-orange);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin: 10px 15px;
}
button.done-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 216, 77, 1);
}
button.done-btn:active {
  background-color: var(--website-orange);
}
button.done-btn:focus {
  outline: 5px solid rgba(255, 206, 34, 0.3);
}

ul.selection-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul.selection-list li label {
  width: 370px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 22px;
    cursor: pointer;
}

input[type="checkbox"] {
  /* Visually hide the checkbox but keep it focusable */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.checkmark {
  height: 25px;
  width: 25px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid var(--main-gray);
  opacity: 60%;
  position: relative;
}
.checkmark::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 8.5px;
  top: 1px;
  width: 7px;
  height: 16px;
  border: solid rgba(227, 227, 227, 1);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:hover ~ .checkmark {
  opacity: 100%;
}
input[type="checkbox"]:hover ~ .checkmark::after {
  opacity: 100%;
}

input[type="checkbox"]:active ~ .checkmark {
  border-color: rgba(189, 189, 189, 1);
  opacity: 100%;
  outline: 3px solid rgba(36, 105, 246, 0.1);
}
input[type="checkbox"]:active ~ .checkmark::after {
  opacity: 100%;
  border-color: var(--button-gray);
}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: rgba(36, 105, 246, 1);
  border: none;
  opacity: 100%;
}
input[type="checkbox"]:checked ~ .checkmark::after {
  opacity: 100%;
  border-color: white;
}

input[type="checkbox"]:checked:hover ~ .checkmark {
  background-color: var(--blue-press);
  border: none;
  opacity: 100%;
}

input[type="checkbox"]:checked:active ~ .checkmark {
  background-color: rgba(36, 105, 246, 1);
  opacity: 100%;
  outline: 3px solid rgba(36, 105, 246, 0.1);
}

input[type="checkbox"]:focus-visible ~ .checkmark {
  outline: 3px solid rgba(36, 105, 246, 0.3);
  border-color: var(--blue-press);
}